<div class="container1">
<header>
   <h1>Learn Malayalam</h1>
</header>
<div class="first">
  <nav>
    <ul>
      <li><a href="/index">Home</a></li>
      <li><a href="/intro">Start</a></li>
    </ul>
  </nav>
<article>
  <p style="font-size:25px;font-family: Verdana;font-style: italic"><b>Do you want to learn Malayalam? We would love to help!
  Learning Malayalam Language is the best way to know and enjoy the beautiful state of Kerala, its people, traditions, and culture.</b></p>
  <p style="font-size:25px;font-family: Verdana"><b>Malayalam is a Dravidian language with about 38 million speakers spoken mainly in the south west of India, particularly in Kerala, the Laccadive Islands and neighboring states, and also in Bahrain, Fiji, Israel, Malaysia, Qatar, Singapore, UAE and the UK.</b></p>
</article>
</div>
<div class="second">
<a href="/intro" class="button">Start Now  </a>
</div>
<footer>Copyright &copy; VP2</footer>

</div>
