<div class="container">
      <header>
        <h4>Introduction</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/intro">Introduction</a></li>
            <li><a href="/lesson1">L1 - Vowels</a></li>
            <li><a href="/lesson2">L2 - Consonants</a></li>
          </ul>
        </nav>
        <article>
          <p>The Malayalam language has 56 letters,  one of the largest number for any language.</p>
          <p>These letters may belong to these broad categories:
            <ul id="bullet">
              <li>equivalent to the vowels</li>
              <li>equivalent to the consonants</li>
              <li>conjugated alphabets</li>
            </ul>
          <p>There are 15 vowels and 36 consonants in addition to the many conjugated and miscellaneous letters. The conjugated letters are combinations of two consonants, but they are written distinctly.</p>
          </p>
        </article>
    </div>
    <div class="second">
            <a id="next" href="lesson1.html"><img src="next.png" alt="Width" style="width:10%;height:10%"></a>
    </div>
    <footer></footer>