  <div class="container">
      <header>
        <h4>Vowels</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
           <li><a href="/index">Home</a></li>
            <li><a href="/intro">Introduction</a></li>
            <li><a href="/lesson1">L1 - Vowels</a></li>
            <li><a href="/lesson2">L2 - Consonants</a></li>
          </ul>
        </nav>
        <article>
          <h4>Vowels</h4>
          <img src="vowels.png" width="500px" height="500px" alt="vowels" style="padding:40px">
          <hr>
          <h4>Vowel diacritics with ka</h4>
          <img src="vowel2.gif" alt="vowels" style="padding:30px">
        </article>
      </div>
    </div>
    <div class="second">
            <a id="next" href="lesson2.html"><img src="next.png" alt="Width" style="width:10%;height:10%"></a>
    </div>
    <footer></footer>