  <div class="container">
      <header>
        <h4>Consonants</h4>
      </header>
      <div class="first">
        <nav>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/intro">Introduction</a></li>
            <li><a href="/lesson1">L1 - Vowels</a></li>
            <li><a href="/lesson2">L2 - Consonants</a></li>
          </ul>
        </nav>
        <article>
          <h4>Consonants</h4>
          <img src="cons.gif" alt="Consonants" style="padding:40px">
          <p style="margin:40px">A chillu or chillaksharam represents pure consonants independently, without help of a virama. Unlike a consonant represented by an ordinary consonant letter, these consonants are never followed by an inherent vowel. </p>
          <hr>
          <h4>A selection of conjunct consonants</h4>
          <img src="conjunct.gif" alt="Conjunct Consonants" style="padding:30px">
        </article>
      </div>
    </div>
    <footer></footer>